{% extends 'templates/app.twig' %}

{% block content %}
  <div id="flashAlert">
    {% include 'templates/partials/flash.twig' %}
  </div>
<div class="row justify-content-md-center">  
    <div class="col col-md-10">
        <div class="row">
            <div class="col text-center">
                <label class="header-blue">Success</label>
                <p>We've sent you a link to reset your password. <br/>
                Please wait for up to 10 minutes for the email to be delivered and remember to check you junk folders</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <a href="{{ path_for('auth.signin') }}" class="btn btn-primary btn-rounded" role="button" aria-disabled="true">Log in</a>
            </div>
        </div>        
        <div class="row mt-3">
            <div class="col text-center">
                <h5>Token: (temporary box)</h5>
                <a href="{{ path_for('password.reset.form') }}?token={{ token }}" aria-disabled="true" target="_blank">{{ path_for('password.reset.form') }}?token={{ token }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}