{% extends 'templates/app.twig' %}

{% block content %}
  <div id="flashAlert">
    {% include 'templates/partials/flash.twig' %}
  </div>
<div id="passwordChangeVerification"
    class="row justify-content-md-center">  
    <div class="col col-md-10">
        <div class="row justify-content-md-center">
            <div class="col col-md-6">
                <form 
                    id="reset-password-form" 
                    action={{ path_for('auth.password.change') }} 
                    method="post"
                    autocomplete="false">
                    <div class="form-group">
                        <input 
                            type="email" 
                            class="form-control" 
                            name="email" 
                            id="Email" 
                            value="{{ email }}"
                            aria-describedby="emailHelp" 
                            placeholder="{{ email }}"
                            hidden>
                    </div>
                    <div class="form-group mt-3">
                        <label for="Password" class="header-blue">New password</label>
                        <input 
                            type="password" 
                            class="form-control{{ errors.new_password ? ' is-invalid' : ''}}" 
                            name="new_password" 
                            id="NewPassword" 
                            placeholder="New password" 
                            aria-describedby="passwordHelpInline" 
                            @input="eventChange"
                            @change="eventChange"
                            v-model="newPassword"
                            required>
                        <div class="invalid-passwords text-left">
                            <p v-if="!validations.minLength">*Minimum 8 characters</p>
                            <p v-if="!validations.notNull">*Can't be empty</p>
                            <p v-if="!validations.minOneCapLetter">*Minimum 1 capital letter</p>
                        </div>
                        {% if errors.new_password %}
                            <div class="invalid-feedback text-left">
                                {% for error in errors.new_password %}
                                    {{ error }}<br />
                                {% endfor %}
                            </div>
                        {% endif %}  
                    </div>  
                    <div class="form-group mt-3">
                        <label for="Password" class="header-blue">Re-type new password</label>
                        <input 
                            type="password" 
                            class="form-control {{ errors.re_new_password ? ' is-invalid' : ''}}" 
                            name="re_new_password" 
                            id="ReNewPassword" 
                            placeholder="Re-type new password" 
                            aria-describedby="passwordHelpInline" 
                            @input="eventChange"
                            @change="eventChange"
                            v-model="reNewPassword"
                            required>
                    </div>
                    <div class="registrationFormAlert" id="divCheckPasswordMatch"></div>
                    <div class="form-group mt-3">
                        <button id="PassRessetBttn" type="submit" class="btn btn-primary btn-rounded" :disabled="!submitBttn">Save new password</button>
                    </div>
                    <img src="{{ base_url() }}/app/public/images/pig.png" alt="PigBankImg" class="pigbank rounded mt-3">
                    {{ csrf.field | raw }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}